*{
    color: #fff;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}
body{
    overflow: hidden;
    background: linear-gradient(90deg, rgba(53,95,242,1) 0%, rgba(89,40,210,1) 35%, rgba(112,4,188,1) 100%);
}
.one
{
     display:flex;
     gap: 50px;
     margin-left: 65%;
     font-size: 30px
}
.two{
    display:flex;
    gap: 20px;
    margin-left: 92%;
    font-size: 20px;
    margin-top: -60px;

}

.description{
    font-size: 25px;
    height: 20rem;
    font-size: 2rem;
    line-height:2rem;
    padding-left:30%;
    padding-top: 10%;
    margin-bottom: 15rem;
}
#blob_one {
    width: 40rem;
    position: absolute;
    left: 100rem;
    top: 10rem;
}
#blob_two{
    width: 60rem;
    position:absolute;
    right: 85rem;
    bottom: 20rem;
}
h1 span{
    color: #FF0066;
}
.arrowdown i{
    font-size: 30px;
    display: flex;
    justify-content:center;
}



            